# Copy this file to .env and fill in your values

DATABASE_URL=postgresql+asyncpg://postgres:TU_PASSWORD@db.XXXXXX.supabase.co:5432/postgres
SYNC_DATABASE_URL=postgresql+psycopg2://postgres:TU_PASSWORD@db.XXXXXX.supabase.co:5432/postgres
